.header__nav-link {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  line-height: 16px;
  color: #FFF;
  font-weight: 400;
  text-decoration: none;
  font-family: 'SegoeUI', Arial, Helvetica, sans-serif;
}

.header__nav-link:hover {
  opacity: 0.8;
  transition: 0.1s ease-in;
}