.header__catalog-link {
  font-size: 28px;
  line-height: 24px;
  letter-spacing: 2%;
  font-weight: 600;
  color: #FFF;
  text-decoration: none;
  margin-left: 10px;
  font-family: 'SegoeUI', Arial, Helvetica, sans-serif;
}